---
import Header from '@components/Header.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Minerva: Classes">
    <Header />

    <main>
        <h1>Available classes</h1>
        <ul>
            <li>
                <a href={`/topics/c-intro`}> C Introduction </a>
            </li>
        </ul>
    </main>
</Layout>
