---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import MyEditor from '@components/MyEditor.jsx';

---

<Layout title="Welcome to Astro.">

	<h1>Minerva Editor</h1>
	
	<MyEditor client:load />

</Layout>

<style>

</style>

