---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import MyEditor from '@components/MyEditor.jsx';

const initialCode = `
int add(int a, int b) {
	// Your implementation
}
`

---

<Layout title="Welcome to Astro.">

	<h1>C Operators</h1>
	
	<MyEditor
		client:load 
		initialCode={initialCode}
	/>

</Layout>

<style is:global>
body {
	white-space: pre-wrap;
}

.out {
	font-family: monospace;
}
</style>

