---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
---

<Layout title="Welcome to Astro.">
    <h1>Minerva</h1>
</Layout>

<style is:global>
    body {
        white-space: pre-wrap;
    }
</style>
