---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';

console.log(Astro.params)
---

<Layout title="Minerva">
    <Header />

    <main>
        <h1></h1>

        <h2>Courses</h2>
        <ul>
            <li><a href="/topics/c-intro/">C Introduction</a></li>
        </ul>

        <h2>Coding quests</h2>
        <ul>
            <li><a href="/quests/backtracing">Backtracing</a></li>
        </ul>

    </main>
</Layout>

<style is:global>
</style>

