---

---

<nav>
    <div class="content">
        <a href="/" style={{ height: 'fit-content' }}><h1>Minerva</h1></a>

        <div class="btn-group">
            <a href="/">Home</a>
            <a href="/topics">Topics</a>
            <a href="/quests">Code Quests</a>
        </div>
    </div>
</nav>

<style>
    h1 {
    }

    nav {
        background: yellow;
    }

    .content {
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        height: 3.4rem;
        width: 800px;
    }

    @media screen and (min-width: 1000px) {
        
        .content {
            width: 1000px;
        }
    }
</style>
