---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    :root {
        --primary: rgb(30 3 33);
        --secondary: rgb(15 82 87);
        --background: rgb(249 245 255);
        --foreground: rgb(0 0 0);
        --accent: rgb(116 141 205);
        --accent2: rgb(163 56 95);
    }

    html {
        font-family: system-ui, sans-serif;
    }
    main {
        margin: 0 auto;
        width: 100%;
    }

    @media (min-width: 640px) { 
        main:not(.full) {
            width: 640px;
        }
    }

    @media (min-width: 768px) { 
        main:not(.full) {
            width: 768px;
        }
    }

    @media (min-width: 1024px) { 
        main:not(.full) {
            width: 768px;
        }
    }

    @media (min-width: 1280px) { 
        main:not(.full) {
            width: 768px;
        }
    }

    @media (min-width: 1536px) { 
        main:not(.full) {
            width: 768px;
        }
    }

    body {
        margin: 0;
        padding: 0;
        background: var(--background);
        color: var(--foreground);
    }

    a {
        color: var(--accent);
    }

    a:visited {
        color: var(--accent2);
    }

    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }
</style>
